<mat-sidenav-container style="height: 100%">
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a (click)="sidenav.close()" mat-list-item routerLink="pokemons" routerLinkActive> <mat-icon>catching_pokemon</mat-icon> Pokemon List </a>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header style="padding:0px 24px 0px 18px">
            <mat-panel-title>
              <mat-icon>format_list_bulleted</mat-icon> Pokemons by type
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a (click)="sidenav.close()" mat-list-item routerLink="/pokemons/grass" routerLinkActive><mat-icon>grass</mat-icon> Grass</a>
          <a (click)="sidenav.close()" mat-list-item routerLink="/pokemons/water" routerLinkActive><mat-icon>water_drop</mat-icon> Water</a>
          <a (click)="sidenav.close()" mat-list-item routerLink="/pokemons/fire" routerLinkActive><mat-icon>local_fire_department</mat-icon> Fire</a>
          <a (click)="sidenav.close()" mat-list-item routerLink="/pokemons/electric" routerLinkActive><mat-icon>flash_on</mat-icon> Electric</a>
          <a (click)="sidenav.close()" mat-list-item routerLink="/pokemons/other" routerLinkActive><mat-icon>catching_pokemon</mat-icon> Other</a>
        </mat-expansion-panel>
      </mat-accordion>
      <a (click)="sidenav.close()" mat-list-item routerLink="add-pokemon" routerLinkActive> <mat-icon>add</mat-icon> Add New Pokemon </a>
      <a (click)="sidenav.close()" mat-list-item routerLink="404" routerLinkActive> <mat-icon>error</mat-icon> 404 - page not found </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <span>Pokemons</span>
      <span style="right:10px;position:absolute">
        <button mat-button routerLink="/login" *ngIf="!userService.loggedIn()">Login</button>
        <button mat-button routerLink="/register" *ngIf="!userService.loggedIn()">Register</button>
        <button mat-button (click)="userService.logoutUser()" *ngIf="userService.loggedIn()">Logout</button>
      </span>
      <span class="example-spacer"></span>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>


