<div class="container justify-content-center" style="text-align: center">
  <form [formGroup]="registerForm">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput type="text" required formControlName="username">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" required formControlName="password">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" required formControlName="email">
      </mat-form-field>
    </div>
    <div class="row">
      <section>
        <mat-checkbox formControlName="rules">
          I agree to the terms and conditions.
        </mat-checkbox>
      </section>
    </div>
    <div class="row">
      &nbsp;
    </div>
    <div class="row">
      <button [disabled]="registerForm.invalid" (click)="registerUser()" mat-raised-button color="accent">Register</button>
    </div>
  </form>
  <div [hidden]="errorMsg.length == 0" class="row">
    <small class="text-danger">{{errorMsg}}</small>
  </div>
</div>

